<head>
		<title>Coin Changer</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<body>
<header>
  <h2>Coin Changer</h2>
</header>
<section>
  <nav>
    <ul>
			<li><center><u><b>Menu</b></u></center></li>
      <li><a href="#">Other Apps</a></li>
      <li><a href="http://www.disturbedmedia.com">Disturbedmedia.com</a></li>
			<li><a href="https://www.w3schools.com/">W3schools.com</a></li>
		</ul>
  </nav>
<article>
    <h1>Please enter your amount.</h1><br>
		*Note you can enter numbers up to 10 charectors.<br>Anything else won't submit.
			<hr color="orange">
<form method = "post" action = "get_change" >
	<input type = "number" name = "number_input" maxlength = 10>
			<hr color="orange">
	<input type = "submit" value = "Click here">
</form>
<% results.each_pair do |key, value| %>
	<% if value > 0 %>
		<% if value > 1 %>
			<%= value %>
				<% if key.to_s == "penny" && value > 1 %>
				<%= key = "pennies" %>
				<% elsif value > 1 %>
				<%= key.to_s + "s" %> 
				<% end %>
		<% else %>
			<%= value %>
			<%= key %>
		<% end %> 
	<% end %>
<% end %>
  </article>
</section>

	<footer>
	<p>App by : TWFDisturbed</p>
	</footer>
</body>