
    <h1>Please enter your amount.</h1><br>
		*Note you can enter numbers up to 10 charectors.<br>Anything else won't submit.
			<hr color="#45A29E">
<form method = "post" action = "get_change" >
	<input type = "number" name = "number_input" maxlength = 10>
			<hr color="#45A29E">
	<input type = "submit" value = "Click here">
</form>
<% results.each_pair do |key, value| %>
	<% if value > 0 %>
		<% if value > 1 %>
			<%= value %>
				<% if key.to_s == "penny" && value > 1 %>
				<%= key = "pennies" %>
				<% elsif value > 1 %>
				<%= key.to_s + "s" %> 
				<% end %>
		<% else %>
			<%= value %>
			<%= key %>
		<% end %> 
	<% end %>
<% end %>